.cart-container {
  &__order {
    margin-bottom: 2px;
  }
}

.cart-list {
  &__image {
    height: 90px;
    background-position: left;
  }

  &__desc {
    position: relative;
    padding-bottom: 50px;
  }

  &__actions {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.order-box {
  &__row {
    margin-bottom: 18px;

    &:last-child {
      margin-bottom: 0;
      padding-top: 18px;
    }
  }

  &__col {
    padding-right: 10px;
  }

  &__count {
    font-size: 16px;
    color: $tertiary;
  }
}

@media (max-width: 992px) {
  .cart-container {
    &__left {
      margin-bottom: 24px;
    }
  }
}


@media (max-width: 768px) {
  .order-box {
    &__count {
      font-size: 15px;
    }
  }
}


@media (max-width: 540px) {
  .cart-list {
    &__image {
      height: 70px;
    }

    &__desc {
      padding-bottom: 35px;
    }
  }

  .order-box {
    &__count {
      font-size: 14px;
    }
  }
}