.order-container {
  margin: auto;
  padding-top: 70px;

  &--secondary {
    padding: 30px 0 70px;
  }

  &__logo {
    margin-bottom: 90px;
  }
}

.order-info-container {
  min-height: 100vh;
  padding-bottom: 40px;

  &__bottom {
    margin-top: 90px;
  }
}

.payment {
  height: 100%;

  &__icon {
    font-size: 25px;
    line-height: 0;
    padding-right: 10px;
  }
}

.tab {
  margin: 0 auto 40px;
}

.tab-content {
  padding-bottom: 18px;
}

.tab-links {
  height: 4px;
  flex: 1;
  margin-right: 5px;
  background-color: rgba($tertiary, 0.3);
  @include border-radius(10px);
  @include transition(background-color 0.3s);

  &:last-child {
    margin-right: 0;
  }

  &.active {
    background-color: $primary;
  }
}

@media (max-width: 992px) {
  .order-container {
    padding-top: 50px;

    &--secondary {
      padding-bottom: 50px;
    }

    &__logo {
      margin-bottom: 70px;
    }
  }

  .payment {
    &__icon {
      font-size: 22px;
    }
  }

  .order-info-container {
    &__bottom {
      margin-top: 70px;
    }
  }
}

@media (max-width: 768px) {
  .order-container {
    padding-top: 40px;

    &__logo {
      margin-bottom: 50px;
    }
  }

  .order-info-container {
    &__bottom {
      margin-top: 60px;
    }
  }
}

@media (max-width: 540px) {
  .order-container {
    padding-top: 30px;

    &--secondary {
      padding: 24px 0 30px;
    }

    &__logo {
      margin-bottom: 40px;
    }
  }

  .payment {
    height: auto;
    margin-top: 24px;

    &__icon {
      font-size: 20px;
    }
  }

  .order-info-container {
    &__bottom {
      margin-top: 40px;
    }
  }
}