@font-face {
  font-family: primary;
  src: url("../fonts/roboto/Roboto-Regular.ttf") format('truetype');
}

@font-face {
  font-family: primary-light;
  src: url("../fonts/roboto/Roboto-Light.ttf") format('truetype');
}

@font-face {
  font-family: primary-italic;
  src: url("../fonts/roboto/Roboto-Italic.ttf") format('truetype');
}

@font-face {
  font-family: primary-medium;
  src: url("../fonts/roboto/Roboto-Medium.ttf") format('truetype');
}

@font-face {
  font-family: primary-bold;
  src: url("../fonts/roboto/Roboto-Bold.ttf") format('truetype');
}


.font-primary {
  font-family: primary;

  &--light {
    font-family: primary-light;
  }
  &--italic {
    font-family: primary-italic;
  }
  &--medium {
    font-family: primary-medium;
  }
  &--bold {
    font-family: primary-bold;
  }
}


