.row {
  margin-right: -15px;
  margin-left: -15px;

  .col-1,.col-10,.col-11,.col-12,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,
  .col-1-2, .col-2-3{
    padding-right: 15px;
    padding-left: 15px;
  }
}

.row-flex {
  >div {
    float: none;
  }
}

.col-1,.col-10,.col-11,.col-12,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9 {
  position: relative;
  min-height: 1px;
  float: left;
}

.col-12{
  width: 100%;
}
.col-11{
  width: 91.66666667%;
}
.col-10{
  width: 83.33333333%;
}
.col-9{
  width: 75%;
}
.col-8{
  width: 66.66666667%;
}
.col-7{
  width: 58.33333333%;
}
.col-6{
  width: 50%;
}
.col-5{
  width: 41.66666667%;
}
.col-4{
  width: 33.33333333%;
}
.col-3{
  width: 25%;
}
.col-2{
  width: 16.66666667%;
}
.col-1{
  width: 8.33333333%;
}

@media (max-width: 1280px) {
  .col-lg-12{
    width: 100%;
  }
  .col-lg-11{
    width: 91.66666667%;
  }
  .col-lg-10{
    width: 83.33333333%;
  }
  .col-lg-9{
    width: 75%;
  }
  .col-lg-8{
    width: 66.66666667%;
  }
  .col-lg-7{
    width: 58.33333333%;
  }
  .col-lg-6{
    width: 50%;
  }
  .col-lg-5{
    width: 41.66666667%;
  }
  .col-lg-4{
    width: 33.33333333%;
  }
  .col-lg-3{
    width: 25%;
  }
  .col-lg-2{
    width: 16.66666667%;
  }
  .col-lg-1{
    width: 8.33333333%;
  }
}

@media (max-width: 992px) {
  .col-md-12{
    width: 100%;
  }
  .col-md-11{
    width: 91.66666667%;
  }
  .col-md-10{
    width: 83.33333333%;
  }
  .col-md-9{
    width: 75%;
  }
  .col-md-8{
    width: 66.66666667%;
  }
  .col-md-7{
    width: 58.33333333%;
  }
  .col-md-6{
    width: 50%;
  }
  .col-md-5{
    width: 41.66666667%;
  }
  .col-md-4{
    width: 33.33333333%;
  }
  .col-md-3{
    width: 25%;
  }
  .col-md-2{
    width: 16.66666667%;
  }
  .col-md-1{
    width: 8.33333333%;
  }
}

@media (max-width: 768px) {
  .row {
    margin-right: -10px;
    margin-left: -10px;

    .col-1,.col-10,.col-11,.col-12,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,
    .col-1-2, .col-2-3{
      padding-right: 10px;
      padding-left: 10px;
    }
  }

  .col-sm-12{
    width: 100%;
  }
  .col-sm-11{
    width: 91.66666667%;
  }
  .col-sm-10{
    width: 83.33333333%;
  }
  .col-sm-9{
    width: 75%;
  }
  .col-sm-8{
    width: 66.66666667%;
  }
  .col-sm-7{
    width: 58.33333333%;
  }
  .col-sm-6{
    width: 50%;
  }
  .col-sm-5{
    width: 41.66666667%;
  }
  .col-sm-4{
    width: 33.33333333%;
  }
  .col-sm-3{
    width: 25%;
  }
  .col-sm-2{
    width: 16.66666667%;
  }
  .col-sm-1{
    width: 8.33333333%;
  }
}

@media (max-width: 540px) {
  .col-xs-12{
    width: 100%;
  }
  .col-xs-11{
    width: 91.66666667%;
  }
  .col-xs-10{
    width: 83.33333333%;
  }
  .col-xs-9{
    width: 75%;
  }
  .col-xs-8{
    width: 66.66666667%;
  }
  .col-xs-7{
    width: 58.33333333%;
  }
  .col-xs-6{
    width: 50%;
  }
  .col-xs-5{
    width: 41.66666667%;
  }
  .col-xs-4{
    width: 33.33333333%;
  }
  .col-xs-3{
    width: 25%;
  }
  .col-xs-2{
    width: 16.66666667%;
  }
  .col-xs-1{
    width: 8.33333333%;
  }
}

@media (max-width: 414px) {
  .col-xxs-12{
    width: 100%;
  }
  .col-xxs-11{
    width: 91.66666667%;
  }
  .col-xxs-10{
    width: 83.33333333%;
  }
  .col-xxs-9{
    width: 75%;
  }
  .col-xxs-8{
    width: 66.66666667%;
  }
  .col-xxs-7{
    width: 58.33333333%;
  }
  .col-xxs-6{
    width: 50%;
  }
  .col-xxs-5{
    width: 41.66666667%;
  }
  .col-xxs-4{
    width: 33.33333333%;
  }
  .col-xxs-3{
    width: 25%;
  }
  .col-xxs-2{
    width: 16.66666667%;
  }
  .col-xxs-1{
    width: 8.33333333%;
  }
}
