/*text*/
.text-center {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-transform {
    &--none {
        text-transform: none !important;
    }
    &--uppercase {
        text-transform: uppercase !important;
    }
    &--capitalize {
        text-transform: capitalize !important;
    }
    &--lowercase {
        text-transform: lowercase !important;
    }
}

/*float*/
.float-left {
    float: left;
}

.float-right {
    float: right;
}

/*cursor*/
.pointer {
    cursor: pointer;
}

/*clear*/
.clearfix::before, .clearfix::after {
    content: "";
    display: block;
}

.clearfix::after {
    clear: both;
}

/*display*/

.display {
    &--block {
        display: block !important;
    }
    &--none {
        display: none !important;
    }
    &--inline {
        display: inline !important;
    }
    &--inline-block {
        display: inline-block !important;
    }
}

.flex {
    display: flex !important;
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;

    &--wrap {
        @include flex-wrap(wrap !important);
    }

    &--wrap-reverse {
        @include flex-wrap(wrap-reverse !important);
    }

    &__item {
        flex: 1;
    }
}

.align-items {
    &--stretch {
        @include align-items(stretch !important);
    }
    &--center {
        @include align-items(center !important);
    }
    &--end {
        @include align-items(flex-end !important);
    }
}

.align-self {
    &--center {
        @include align-self(center !important);
    }
}

.justify {
    &--center {
        @include justify-content(center !important);
    }
    &--space-between {
        @include justify-content(space-between !important);
    }
    &--end {
        @include justify-content(flex-end !important);
    }
    &--start {
        @include justify-content(flex-start !important);
    }
    &--space-around {
        @include justify-content(space-around !important);
    }
}

/*alignement*/

.align {
    &--middle {
        vertical-align: middle !important;
    }

    &--top {
        vertical-align: top !important;
    }

    &--bottom {
        vertical-align: bottom !important;
    }
}

.margin-auto {
    margin: auto;
}

/**/

.no-wrap {
    white-space: nowrap;
}

.relative {
    position: relative;
}

.ellipsis {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    @include text-overflow(ellipsis);
}

.inline-elements {
    font-size: 0;

    > div, > span, > li, > i {
        display: inline-block;
        vertical-align: middle;
    }
}

.bg-cover, .bg-contain {
    background: no-repeat center;
    background-size: cover;
}

.bg-contain {
    background-size: contain;
}

/*color*/
.color-white {
    color: $white;
}
.color-tertiary {
    color: $tertiary;
}
.color-primary {
    color: $primary;
}
.color-pink {
    color: $pink;
}

/*Background colors*/
.bg-light {
    background-color: $bg !important;
}
.bg-middle-light {
    background-color: rgba($tertiary, 0.1) !important;
}

/* Font classes */

@mixin font($value) {
    font-size: #{$value + px} !important;
}

$fonts: (
        no: 0,
        small-xs: 10,
        small: 12,
        standard: 14,
        medium: 18,
        medium-lg: 20,
        large-xs: 24,
        large: 26,
        extra-large: 72,
);

@each $name, $size in $fonts {
    .font-#{$name} {
        @include font($size);
    }
}

/* Generate classes for margin */
@mixin margin($position, $value) {
    margin-#{$position}: #{$value + px} !important;
}

$margin-right-list: (
        no: 0,
        small-xs: 5,
        small: 8,
        medium: 18,
        medium-lg: 24,
        large-xs: 30,
        large: 40,
);

@each $name, $size in $margin-right-list {
    .margin-right-#{$name} {
        @include margin('right', $size);
    }
}

$margin-left-list: (
        no: 0,
        small-xs: 5,
        small: 8,
        medium: 18,
        medium-lg: 24,
        large-xs: 30,
        large: 40,
);

@each $name, $size in $margin-left-list {
    .margin-left-#{$name} {
        @include margin('left', $size);
    }
}

$margin-top-list: (
        no: 0,
        small-xs: 5,
        small: 8,
        medium: 18,
        medium-lg: 24,
        large-xs: 30,
        large: 40,
);

@each $name, $size in $margin-top-list {
    .margin-top-#{$name} {
        @include margin('top', $size);
    }
}

$margin-bottom-list: (
        no: 0,
        small-xs: 5,
        small: 8,
        medium: 18,
        medium-lg: 24,
        large-xs: 30,
        large: 40,
);

@each $name, $size in $margin-bottom-list {
    .margin-bottom-#{$name} {
        @include margin('bottom', $size);
    }
}

/* Generate classes for padding */
@mixin padding($position, $value) {
    padding-#{$position}: #{$value + px} !important;
}

$padding-right-list: (
        no: 0,
        small-xs: 5,
        small: 8,
        medium: 18,
        medium-lg: 24,
        large-xs: 30,
        large: 40,
);

@each $name, $size in $padding-right-list {
    .padding-right-#{$name} {
        @include padding('right', $size);
    }
}

$padding-left-list: (
        no: 0,
        small-xs: 5,
        small: 8,
        medium: 18,
        medium-lg: 24,
        large-xs: 30,
        large: 40,
);

@each $name, $size in $padding-left-list {
    .padding-left-#{$name} {
        @include padding('left', $size);
    }
}

$padding-top-list: (
        no: 0,
        small-xs: 5,
        small: 8,
        medium: 18,
        medium-lg: 24,
        large-xs: 30,
        large: 40,
);

@each $name, $size in $padding-top-list {
    .padding-top-#{$name} {
        @include padding('top', $size);
    }
}

$padding-bottom-list: (
        no: 0,
        small-xs: 5,
        small: 8,
        medium: 18,
        medium-lg: 24,
        large-xs: 30,
        large: 40,
);

@each $name, $size in $padding-bottom-list {
    .padding-bottom-#{$name} {
        @include padding('bottom', $size);
    }
}

/* Width with persents */
$width-list: (
        small-xs: 20,
        small: 30,
        medium-xs: 40,
        medium: 50,
        medium-lg: 60,
        large-xs: 70,
        large: 80,
        full: 100,
);

@mixin width-percent($value) {
    width: #{$value + '%'} !important;
}

@each $name, $size in $width-list {
    .width-percent-#{$name} {
        @include width-percent($size);
    }
}

/* Max-Width with pixels */
$max-width-list: (
        small: 110,
        small-md: 130,
        medium: 160,
        medium-lg: 190,
        large-xs: 240,
        large: 300,
        large-extra: 666,
);

@mixin max-width($value) {
    max-width: #{$value + px} !important;
}

@each $name, $size in $max-width-list {
    .max-width-#{$name} {
        @include max-width($size);
    }
}

/* Min-Width with pixels */
$min-width-list: (
        small: 80,
        medium: 120,
        medium-lg: 130,
        large-xs: 190,
        large: 240,
        extra-large: 300,
);

@mixin min-width($value) {
    min-width: #{$value + px} !important;
}

@each $name, $size in $min-width-list {
    .min-width-#{$name} {
        @include min-width($size);
    }
}

@media (max-width: 1440px) {
    @each $name, $size in $fonts {
        @if $size > 40 and $size < 73 {
            .font-#{$name} {
                @include font($size - 4);
            }
        }
    }
}
@media (max-width: 1380px) {
    @each $name, $size in $fonts {
        @if $size > 40 and $size < 73 {
            .font-#{$name} {
                @include font($size - 10);
            }
        }
    }
}
@media (max-width: 1280px) {
    @each $name, $size in $fonts {
        @if $size > 50 and $size < 73 {
            .font-#{$name} {
                @include font($size - 20);
            }
        }
    }

    @each $name, $size in $fonts {
        @if $size > 17 and $size < 29 {
            .font-#{$name} {
                @include font($size - 2);
            }
        }
    }
}
@media (max-width: 992px) {
    @each $name, $size in $fonts {
        @if $size > 60 and $size < 73 {
            .font-#{$name} {
                @include font($size - 25);
            }
        }
    }
    @each $name, $size in $fonts {
        @if $size > 23 and $size < 29 {
            .font-#{$name} {
                @include font($size - 4);
            }
        }
    }

    @each $name, $size in $margin-top-list {
        @if $size > 50 and $size < 61 {
            .margin-top-#{$name} {
                @include margin('top', $size - 20);
            }
        }
    }
    @each $name, $size in $margin-top-list {
        @if $size > 29 and $size < 49 {
            .margin-top-#{$name} {
                @include margin('top', $size - 10);
            }
        }
    }

    @each $name, $size in $margin-bottom-list {
        @if $size > 29 and $size < 49 {
            .margin-bottom-#{$name} {
                @include margin('bottom', $size - 10);
            }
        }
    }
}
@media (max-width: 768px) {
    @each $name, $size in $fonts {
        @if $size > 60 and $size < 73 {
            .font-#{$name} {
                @include font($size - 30);
            }
        }
    }
    @each $name, $size in $fonts {
        @if $size > 23 and $size < 29 {
            .font-#{$name} {
                @include font($size - 6);
            }
        }
    }
    @each $name, $size in $fonts {
        @if $size > 13 and $size < 17 {
            .font-#{$name} {
                @include font($size - 1);
            }
        }
    }


    @each $name, $size in $margin-top-list {
        @if $size > 50 and $size < 61 {
            .margin-top-#{$name} {
                @include margin('top', $size - 30);
            }
        }
        @if $size > 20 and $size < 25 {
            .margin-top-#{$name} {
                @include margin('top', $size - 4);
            }
        }
    }

    @each $name, $size in $margin-bottom-list {
        @if $size > 20 and $size < 25 {
            .margin-bottom-#{$name} {
                @include margin('bottom', $size - 4);
            }
        }
    }
}
@media (max-width: 540px) {
    @each $name, $size in $fonts {
        @if $size > 60 and $size < 73 {
            .font-#{$name} {
                @include font($size - 40);
            }
        }
    }

    @each $name, $size in $fonts {
        @if $size > 15 and $size < 21 {
            .font-#{$name} {
                @include font($size - 4);
            }
        }
    }

    @each $name, $size in $margin-top-list {
        @if $size > 20 and $size < 25 {
            .margin-top-#{$name} {
                @include margin('top', $size - 8);
            }
        }
    }

    @each $name, $size in $margin-bottom-list {
        @if $size > 20 and $size < 25 {
            .margin-bottom-#{$name} {
                @include margin('bottom', $size - 8);
            }
        }
    }
}