@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?gao22i');
  src:  url('fonts/icomoon.eot?gao22i#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?gao22i') format('truetype'),
    url('fonts/icomoon.woff?gao22i') format('woff'),
    url('fonts/icomoon.svg?gao22i#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-print:before {
  content: "\e912";
}
.icon-card:before {
  content: "\e910";
}
.icon-cash:before {
  content: "\e911";
}
.icon-arrow-bottom-fill:before {
  content: "\e90e";
}
.icon-arrow-top-fill:before {
  content: "\e90f";
}
.icon-insta:before {
  content: "\e909";
}
.icon-vk:before {
  content: "\e90b";
}
.icon-tw:before {
  content: "\e90d";
}
.icon-fb:before {
  content: "\e907";
}
.icon-nav:before {
  content: "\e908";
}
.icon-dram:before {
  content: "\e906";
}
.icon-favorite:before {
  content: "\e900";
}
.icon-cart:before {
  content: "\e901";
}
.icon-check:before {
  content: "\e938";
}
.icon-plus:before {
  content: "\e918";
}
.icon-arrow-left:before {
  content: "\e902";
}
.icon-arrow-up:before {
  content: "\e903";
}
.icon-arrow-down:before {
  content: "\e904";
}
.icon-arrow-right:before {
  content: "\e905";
}
.icon-close:before {
  content: "\e90a";
}
.icon-dot:before {
  content: "\e90c";
}
.icon-search:before {
  content: "\e91d";
}
.icon-trash:before {
  content: "\e921";
}
