<template>
    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
        <div class="row" >
            <div class="col-xl-12">
                <!--begin:: Widgets/Sale Reports-->
                <div class="kt-portlet kt-portlet--tabs kt-portlet--height-fluid">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <rect x="0" y="0" width="24" height="24"/>
                                        <path d="M10.5,5 L19.5,5 C20.3284271,5 21,5.67157288 21,6.5 C21,7.32842712 20.3284271,8 19.5,8 L10.5,8 C9.67157288,8 9,7.32842712 9,6.5 C9,5.67157288 9.67157288,5 10.5,5 Z M10.5,10 L19.5,10 C20.3284271,10 21,10.6715729 21,11.5 C21,12.3284271 20.3284271,13 19.5,13 L10.5,13 C9.67157288,13 9,12.3284271 9,11.5 C9,10.6715729 9.67157288,10 10.5,10 Z M10.5,15 L19.5,15 C20.3284271,15 21,15.6715729 21,16.5 C21,17.3284271 20.3284271,18 19.5,18 L10.5,18 C9.67157288,18 9,17.3284271 9,16.5 C9,15.6715729 9.67157288,15 10.5,15 Z" fill="#000000"/>
                                        <path d="M5.5,8 C4.67157288,8 4,7.32842712 4,6.5 C4,5.67157288 4.67157288,5 5.5,5 C6.32842712,5 7,5.67157288 7,6.5 C7,7.32842712 6.32842712,8 5.5,8 Z M5.5,13 C4.67157288,13 4,12.3284271 4,11.5 C4,10.6715729 4.67157288,10 5.5,10 C6.32842712,10 7,10.6715729 7,11.5 C7,12.3284271 6.32842712,13 5.5,13 Z M5.5,18 C4.67157288,18 4,17.3284271 4,16.5 C4,15.6715729 4.67157288,15 5.5,15 C6.32842712,15 7,15.6715729 7,16.5 C7,17.3284271 6.32842712,18 5.5,18 Z" fill="#000000" opacity="0.3"/>
                                    </g>
                                </svg>
                                Speed Lister Results
                            </h3>
                        </div>

                    </div>

                    <div class="kt-portlet__body">
                        <div class="row">
                            <div class="col-xl-12">
                                <div v-for="(value, index) in titleVersions" :key="index" class="accordion accordion-solid accordion-toggle-plus" id="accordionExample1">
                                    <div class="card" :data-qty="value.qty">
                                        <div class="card-header" >

                                            <div class="kt-portlet--mobile speed-lister">
                                                <div class="kt-portlet__head kt-portlet__head--lg row">
                                                    <div class="kt-portlet__head-label col-10" :id="'headingOne'+index" data-toggle="collapse" :data-target="'#collapseOne'+index" :aria-expanded="false" :ria-controls="'collapseOne'+index">
                                                        <h3 class="kt-portlet__head-title">
                                                            $ {{ value.price }} | {{ value.title }}
                                                        </h3>
                                                    </div>
                                                    <div class="kt-portlet__head-toolbar button-result col-2">
                                                        <div class="kt-portlet__head-wrapper">
                                                            <div class="kt-portlet__head-actions">
                                                                <button type="button" class="btn btn-danger btn-custom"  @click="deleteTitleRow($event,titleVersions, index)" ><i class="la la-trash"></i> Delete</button>
                                                                <button type="button" class="btn btn-success" onclick="publish_confirm_row(this)">
                                                                    <i class="la la-check"></i> Publish!
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <div :id="'collapseOne'+index" class="collapse" :class="{show : index === 0}" :aria-labelledby="'headingOne'+index" data-parent="" >
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-3">
                                                        <div class="kt-widget5__pic">
                                                            <img class="kt-widget7__img picture" :src="value.picture" alt="">
                                                        </div>
                                                    </div>
                                                    <div class="col-9">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <label :for="'title-'+index">Title</label>
                                                                    <input class="form-control title" type="text" name="title"  @keyup="handleChange($event, index)" :id="'title-'+index" :value="value.title">
                                                                </div>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <label :for="'description-'+index">Description</label>
                                                                    <input class="form-control description" type="text" name="description" @keyup="handleChange($event, index)"  :id="'description-'+index" :value="value.description">
                                                                </div>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <label :for="'brand-'+index">Brand</label>
                                                                    <input class="form-control brand" type="text" name="brand" @keyup="handleChange($event, index)"  :id="'brand-'+index" :value="value.brand">
                                                                </div>
                                                            </div>
                                                            <div class="col-6">
                                                                <div class="form-group">
                                                                    <label :for="'price-'+index">Price</label>
                                                                    <input class="form-control price" type="text" name="price" @keyup="handleChange($event, index)"  :id="'price-'+index" :value="value.price">
                                                                </div>
                                                            </div>
                                                            <div class="col-6">
                                                                <div class="form-group">
                                                                    <label :for="'mpn-'+index">MPN</label>
                                                                    <input class="form-control mpn" type="text" name="mpn" @keyup="handleChange($event, index)" :id="'mpn-'+index" :value="value.mpn">
                                                                </div>
                                                            </div>
                                                            <div class="col-6">
                                                                <div class="form-group">
                                                                    <label :for="'ipn-'+index">IPN</label>
                                                                    <input class="form-control ipn" type="text" name="ipn" @keyup="handleChange($event, index)" :id="'ipn-'+index" :value="value.ipn">
                                                                </div>
                                                            </div>
                                                            <div class="col-6">
                                                                <div class="form-group">
                                                                    <label :for="'opn-'+index">OPN</label>
                                                                    <input class="form-control opn" type="text" name="opn" @keyup="handleChange($event, index)" :id="'opn-'+index" :value="value.opn">
                                                                </div>
                                                            </div>
                                                            <div class="col-6">
                                                                <div class="form-group">
                                                                    <label :for="'surface-'+index">Surface</label>
                                                                    <input class="form-control surface" type="text" name="surface" @keyup="handleChange($event, index)"  :id="'surface-'+index" value="">
                                                                </div>
                                                            </div>
                                                            <div class="col-6">
                                                                <div class="form-group">
                                                                    <label :for="'placement-'+index">Placement</label>
                                                                    <input class="form-control placement" type="text" name="placement"  @keyup="handleChange($event, index)" :id="'placement-'+index" :value="value.placement">
                                                                </div>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <label :for="'notes-'+index">Notes</label>
                                                                    <textarea :id="'notes-'+index" class="form-control notes" name="notes" @keyup="handleChange($event, index)" rows="4">{{ value.notes }}</textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from "vuex";
    export default {
        props: ['titleVersions'],
        name: "MPNSearch",

        data() {
            return {
                searchMpn: '',
            }
        },
        mounted() {


        },
        updated(){

        },
        computed: mapGetters([
            "allGenerateVersions",
        ]),
        methods: {

            handleChange(event, index){
                this.titleVersions[index][event.target.name] = event.target.value;
                this.titleVersions[index][event.description.name] = event.target.value;
                this.titleVersions[index][event.brand.name] = event.target.value;
                this.titleVersions[index][event.price.name] = event.target.value;
                this.titleVersions[index][event.mpn.name] = event.target.value;
                this.titleVersions[index][event.ipn.name] = event.target.value;
                this.titleVersions[index][event.opn.name] = event.target.value;
                this.titleVersions[index][event.placement.name] = event.target.value;
                this.titleVersions[index][event.notes.name] = event.target.value;
            },

            deleteTitleRow(event,titleVersions, index){

                swal.fire({
                    title: 'Are you sure?',
                    text: "",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Yes, delete it!',
                    buttonsStyling: false,
                    confirmButtonClass: "btn btn-danger",
                    cancelButtonClass: "btn btn-default"

                }).then(function(result) {

                    if(result){
                        titleVersions.splice(index, 1)
                    }
                    if (result.value) {
                        swal.fire(
                            'Deleted!',
                            'success',
                        )
                    }
                });
            }
        },
    }


</script>

<style scoped>

</style>
