.def-input {
  $this: &;

  position: relative;

  input {
    width: 100%;
    height: 44px;
    font-size: 14px;
    padding: 0 14px;
    color: $secondary;
    font-family: primary;
    background-color: $white;
    border: 1px solid rgba($tertiary, 0.5);
    @include border-radius(4px);
    @include transition(border-color 0.3s);

    &:focus {
      border-color: $primary;
    }

    &::-webkit-input-placeholder {
      color: $tertiary;
    }
    &::-moz-placeholder {
      color: $tertiary;
    }
    &:-moz-placeholder {
      color: $tertiary;
    }
    &:-ms-input-placeholder {
      color: $tertiary;
    }
  }

  &--primary-color {
    input {
      border-color: $primary;
    }
  }

  &--secondary {
    #{$this}__label {
      position: absolute;
      top: 15px;
      left: 11px;
      font-size: 9px;
      color: $tertiary;
      @include transition(top 0.3s);
    }

    input {
      padding-top: 12px !important;

      &:focus, &[data-state="valid"] {
        & + span {
          top: 5px;
        }
      }
    }
  }


  &--md {
    input {
      height: 40px;
      padding: 0 10px;
    }
  }

  &--error {
    input {
      border-color: $pink;
    }

    #{$this}__label {
      color: $pink;
    }
  }

  &--small {
    input {
      height: 32px;
    }
  }
}

@media (max-width: 992px) {
  .def-input {
    $this: &;

    input {
      height: 36px;
      font-size: 13px;
      padding: 0 10px;
    }

    &--secondary {
      #{$this}__label {
        top: 13px;
      }
    }
  }
}