.def-select-box {
  position: relative;
  width: 100%;

  &.opened {
    .select-box {
      border-color: $primary;
      @include border-radius(4px 4px 0 0);

      .arrow {
        &:after {
          content: '\e90f';
        }
      }
    }

    .options {
      display: block;
    }
  }


  .select-box {
    width: 100%;
    padding: 0 30px 0 14px;
    height: 44px;
    font-size: 14px;
    line-height: 44px;
    text-align: left;
    border: 1px solid rgba($tertiary, 0.2);
    @include border-radius(4px);
    @include transition(border 0.3s);

    .placeholder {
      color: $tertiary;
    }

    &:hover {
      cursor: pointer;
    }

    .arrow {
      position: absolute;
      top: 50%;
      right: 12px;
      font-size: 12px;
      font-style: normal;
      @include transform(translateY(-50%));

      &:after {
        content: '\e90e';
        font-family: icomoon;
      }
    }

    .inner {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .options {
    display: none;
    z-index: 2;
    top: 46px;
    left: 0px;
    width: 100%;
    text-align: left;
    position: absolute;
    overflow: hidden;
    background-color: $white;
    border: 1px solid rgba($tertiary, 0.2);
    @include border-radius(0 0 4px 4px);
    @include box-shadow(0 0 6px 0px rgba($black,0.1));

    .scroll{
      max-height: 256px;
      padding-right: 0px;
      margin-right: 1px;
    }

    p {
      color: $black;
      padding: 8px 10px 8px 15px;
      font-size: 14px;
      line-height: 16px;

      &:hover, &.active {
        cursor: pointer;
        background-color: $bg;
      }

      &.selected {
        color: $primary;
      }
    }
  }

  &--small {
    .select-box {
      height: 32px;
      line-height: 32px;

      .arrow {
        font-size: 10px;
      }
    }

    .options {
      top: 34px;
    }
  }
}
