.main-slider {
  &__item {
    height: 500px !important;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: rgba($black, 0.55);
    }
  }

  &__inner {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
    @include transform(translateY(-50%));
  }

  &__content {
    color: $white;
    font-family: primary-light;
    width: 57%;

    a {
      color: $white;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__text {
    margin: 24px 0 70px;
    line-height: 27px;
  }

  .slick-dots {
    bottom: 13.4%;
    left: auto;
    right: calc((100% - 1280px) / 2);
  }
}

.slick-dots {
  position: absolute;
  bottom: 20px;
  right: 0;
  left: 0;
  text-align: center;

  button {
    display: none;
  }

  li {
    width: 8px;
    height: 8px;
    cursor: pointer;
    display: inline-block;
    margin-right: 4px;
    background-color: rgba($white, 0.4);
    @include border-radius(4px);
    @include transition(background-color 0.3s, width 0.3s);

    &:last-child {
      margin-right: 0;
    }

    &.slick-active {
      width: 18px;
      background-color: $primary;
    }
  }
}

.adds-slider {
  margin: 10px 0 50px;

  &__item {
    height: 214px !important;
  }
}

.product-slider {
  &__item {
    height: 380px !important;
  }

  .slick-dots {
    bottom: 20px;
    left: auto;
    right: 20px;
  }
}

.slick-arrow {
  position: absolute;
  top: -63px;
  right: 0;
  width: 30px;
  height: 24px;
  font-size: 0;
  background-color: $primary;
  color: $white;
  text-align: center;
  border: 0;

  &:not(.slick-disabled) {
    &:hover {
      cursor: pointer;
      background-color: $secondary;
    }
  }

  &:before {
    font-family: icomoon;
    font-size: 10px;
  }

  &.slick-prev {
    right: 30px;
    @include border-radius(3px 0 0 3px);

    &:before {
      content: '\e902';
    }
  }
  &.slick-next {
    @include border-radius(0 3px 3px 0);

    &:before {
      content: '\e905';
    }

    &:after {
      content: '';
      width: 1px;
      height: 60%;
      position: absolute;
      top: 50%;
      left: -0.5px;
      border-left: 1px dotted $white;
      @include transform(translateY(-50%));
    }
  }

  &.slick-disabled {
    opacity: 0.5;
  }
}

@media (max-width: 1350px) {
  .main-slider {
    .slick-dots {
      right: 2.5%;
    }
  }
}

@media (max-width: 992px) {
  .main-slider {
    &__content {
      width: 70%;
    }
  }
}

@media (max-width: 992px) {
  .slick-arrow {
    top: -52px;
  }
}

@media (max-width: 768px) {
  .main-slider {
    &__content {
      width: 100%;
    }

    &__item {
      height: 400px !important;
    }

    &__text {
      margin-bottom: 40px;
      line-height: 24px;
    }
  }

  .adds-slider {
    margin: 0 0 40px;

    &__item {
      height: 180px !important;
    }
  }
}

@media (max-width: 540px) {
  .main-slider {
    &__item {
      height: 360px !important;
    }

    .slick-dots {
      bottom: 8.4%;
    }
  }

  .adds-slider {
    &__item {
      height: 130px !important;
    }
  }
}