.def-button {
  $this: &;

  color: $white;
  border: 0;
  height: 44px;
  font-size: 14px;
  padding: 0 14px;
  text-align: center;
  display: inline-block;
  background-color: transparent;
  @include border-radius(4px);
  @include transition(background-color 0.3s);

  &:hover {
    cursor: pointer;
  }

  &--primary {
    background-color: $primary;

    &:hover {
      background-color: $secondary;
    }
  }

  &--secondary {
    color: $primary;
    height: auto !important;
    padding: 0 !important;
    @include border-radius(0);

    &:hover {
      color: $secondary;
    }

    &.active {
      #{$this}__icon {
        color: $pink;
      }
    }
  }

  &--tertiary {
    color: $pink;

    &:hover {
      color: $pink;
      text-decoration: underline;
    }
  }

  &--icon {
    width: 44px;
    padding: 0;
    height: 44px;
    line-height: 46px;
    font-size: 20px;
    color: $secondary;
    background-color: rgba($secondary, 0.06);

    &:hover {
      color: $white;
      background-color: $secondary;
    }
  }

  &--icon-left {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    @include align-items(center);
    @include justify-content(center);

    #{$this}__icon {
      line-height: 0;
    }

    #{$this}__text {
      padding-left: 8px;
    }
  }

  &--md {
    height: 40px;
  }
}

a.def-button {
  line-height: 44px;
}

@media (max-width: 992px) {
  .def-button {
    height: 36px;
    font-size: 13px;
    padding: 0 10px;

    &--icon {
      width: 36px;
      height: 36px;
      line-height: 40px;
      font-size: 16px !important;
      padding: 0;
    }
  }

  a.def-button {
    line-height: 40px;
  }
}

@media (max-width: 540px) {
  .def-button {
    font-size: 12px;
  }
}