.def-checkbox {
  cursor: pointer;
  font-size: 0;

  span {
    display: inline-block;
    vertical-align: middle;
  }

  &__text {
    padding-left: 8px;
    font-size: 14px;
    max-width: 75%;
    max-width: calc(100% - 16px);
    max-width: -webkit-calc(100% - 16px);
    max-width: -moz-calc(100% - 16px);
  }

  input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"] + span {
    width: 16px;
    height: 16px;
    text-align: center;
    border: 1px solid $tertiary;
    background-color: $white;
    @include border-radius(2px);
    @include transition(background-color 0.3s, border-color 0.3s);

    i {
      color: $white;
      opacity: 0;
      display: inline-block;
      vertical-align: top;
      line-height: 16px;
      font-size: 8px;
      @include transition(opacity 0.3s);
    }
  }

  input[type="checkbox"]:checked + span {
    border-color: $primary;
    background-color: $primary;

    i {
      opacity: 1;
    }
  }
}

@media (max-width: 768px) {
  .def-checkbox {
    &__text {
      font-size: 13px;
    }
  }
}

@media (max-width: 540px) {
  .def-checkbox {
    &__text {
      font-size: 12px;
    }
  }
}