.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden;
  outline: 0;
  background-color: rgba($black ,0.5);

  &.fade {
   visibility: hidden;
  }

  &__header {
    position: relative;
    padding: 30px 24px 20px 40px;
    background-color: $white;
  }

  &__title {
    flex: 1;
    padding-right: 20px;
  }

  &__close {
    font-size: 12px;
    line-height: 0;
    color: $tertiary;
    position: absolute;
    top: 21px;
    right: 26px;
    @include transition(color 0.3s);

    &:hover {
      cursor: pointer;
      color: $secondary;
    }
  }

  &__content {
    width: 100%;
    padding: 18px;
  }

  &__scroll {
    max-height: calc(80vh - 134px);
    max-height: -webkit-calc(80vh - 134px);
    max-height: -moz-calc(80vh - 134px);
    padding-right: 10px !important;
    overflow: visible !important;
  }

  &__dialog {
    position: absolute;
    min-height: 170px;
    width: 90%;
    max-height: 80vh;
    top: 50%;
    left: 50%;
    background-color: $white;
    @include transform(translate(-50%, -50%));
    @include box-shadow(0 3px 6px 0 rgba(0, 0, 0, 0.16));
    @include border-radius(8px);


    &.small {
      max-width: 410px;
    }

    &.large {
      max-width: 820px;
    }
  }
}

@media (max-width: 768px) {
  .modal {
    &__scroll {
      overflow: hidden !important;
    }
  }
}