.switch {
  cursor: pointer;
  position: relative;

  input {
    display:none;
  }

  input[type='checkbox'] + span  {
    position: relative;
    width: 36px;
    height: 20px;
    display: inline-block;
    background-color: rgba($tertiary, 0.3);
    @include transition(background-color 0.3s);
    @include border-radius(10.5px);

    &:before {
      content: "";
      height: 16px;
      width: 16px;
      left: 2px;
      top: 2px;
      position: absolute;
      background-color: $white;
      @include border-radius(50%);
    }
  }

  input[type='checkbox']:checked + span {
    background-color: $primary
  }

  input[type='checkbox']:checked + span:before {
    @include transform(translateX(16px));
  }
}

