.def-textarea {
  textarea {
    border: 0;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    max-height: 80px;
    min-height: 80px;
    font-size: 14px;
    padding: 14px;
    color: $secondary;
    font-family: primary;
    background-color: $white;
    @include border-radius(4px);
    @include transition(border-color 0.3s);

    &::-webkit-input-placeholder {
      color: $tertiary;
    }
    &::-moz-placeholder {
      color: $tertiary;
    }
    &:-moz-placeholder {
      color: $tertiary;
    }
    &:-ms-input-placeholder {
      color: $tertiary;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
      margin-top: 5px;
      margin-bottom: 5px;
    }

    &::-webkit-scrollbar {
      width: 4px;
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba($black, 0.4);
      @include border-radius(2px);
    }
  }
}


@media (max-width: 992px) {
  .def-textarea {
    textarea {
      max-height: 60px;
      min-height: 60px;
      font-size: 13px;
      padding: 10px;
    }
  }
}