* {
    margin: 0;
    padding: 0;
    outline: none;
    @include box-sizing(border-box);
}

body {
    font-size: 14px;
    color: $secondary;
    position: relative;
    min-width: 320px;
    font-family: primary;
    word-break: break-word;
}

.no-scroll {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
}

input, button {
    outline: none;
}

input[type='file'] {
    display: none;
}

a {
    color: $secondary;
    text-decoration: none;
    @include transition(color 0.3s);

    &:hover {
        cursor: pointer;
        color: $primary;
    }
}

ul {
    list-style: none;
}

iframe {
    width: 100%;
}

img {
    max-width: 100%;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
}

@media (max-width: 768px) {
    body {
        font-size: 13px;
    }
}

@media (max-width: 540px) {
    body {
        font-size: 12px;
    }
}