@font-face {
  font-family: primary;
  src: url("../fonts/roboto/Roboto-Regular.ttf") format("truetype"); }
@font-face {
  font-family: primary-light;
  src: url("../fonts/roboto/Roboto-Light.ttf") format("truetype"); }
@font-face {
  font-family: primary-italic;
  src: url("../fonts/roboto/Roboto-Italic.ttf") format("truetype"); }
@font-face {
  font-family: primary-medium;
  src: url("../fonts/roboto/Roboto-Medium.ttf") format("truetype"); }
@font-face {
  font-family: primary-bold;
  src: url("../fonts/roboto/Roboto-Bold.ttf") format("truetype"); }
.font-primary {
  font-family: primary; }
  .font-primary--light {
    font-family: primary-light; }
  .font-primary--italic {
    font-family: primary-italic; }
  .font-primary--medium {
    font-family: primary-medium; }
  .font-primary--bold {
    font-family: primary-bold; }

/*text*/
.text-center {
  text-align: center !important; }

.text-left {
  text-align: left !important; }

.text-right {
  text-align: right !important; }

.text-transform--none {
  text-transform: none !important; }
.text-transform--uppercase {
  text-transform: uppercase !important; }
.text-transform--capitalize {
  text-transform: capitalize !important; }
.text-transform--lowercase {
  text-transform: lowercase !important; }

/*float*/
.float-left {
  float: left; }

.float-right {
  float: right; }

/*cursor*/
.pointer {
  cursor: pointer; }

/*clear*/
.clearfix::before, .clearfix::after {
  content: "";
  display: block; }

.clearfix::after {
  clear: both; }

/*display*/
.display--block {
  display: block !important; }
.display--none {
  display: none !important; }
.display--inline {
  display: inline !important; }
.display--inline-block {
  display: inline-block !important; }

.flex {
  display: flex !important;
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important; }
  .flex--wrap {
    -webkit-flex-wrap: wrap !important;
    flex-wrap: wrap !important; }
  .flex--wrap-reverse {
    -webkit-flex-wrap: wrap-reverse !important;
    flex-wrap: wrap-reverse !important; }
  .flex__item {
    flex: 1; }

.align-items--stretch {
  -webkit-align-items: stretch !important;
  align-items: stretch !important; }
.align-items--center {
  -webkit-align-items: center !important;
  align-items: center !important; }
.align-items--end {
  -webkit-align-items: flex-end !important;
  align-items: flex-end !important; }

.align-self--center {
  -webkit-align-self: center !important;
  align-self: center !important; }

.justify--center {
  -webkit-justify-content: center !important;
  justify-content: center !important; }
.justify--space-between {
  -webkit-justify-content: space-between !important;
  justify-content: space-between !important; }
.justify--end {
  -webkit-justify-content: flex-end !important;
  justify-content: flex-end !important; }
.justify--start {
  -webkit-justify-content: flex-start !important;
  justify-content: flex-start !important; }
.justify--space-around {
  -webkit-justify-content: space-around !important;
  justify-content: space-around !important; }

/*alignement*/
.align--middle {
  vertical-align: middle !important; }
.align--top {
  vertical-align: top !important; }
.align--bottom {
  vertical-align: bottom !important; }

.margin-auto {
  margin: auto; }

/**/
.no-wrap {
  white-space: nowrap; }

.relative {
  position: relative; }

.ellipsis {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis; }

.inline-elements {
  font-size: 0; }
  .inline-elements > div, .inline-elements > span, .inline-elements > li, .inline-elements > i {
    display: inline-block;
    vertical-align: middle; }

.bg-cover, .bg-contain {
  background: no-repeat center;
  background-size: cover; }

.bg-contain {
  background-size: contain; }

/*color*/
.color-white {
  color: #ffffff; }

.color-tertiary {
  color: #8C97A2; }

.color-primary {
  color: #005BFF; }

.color-pink {
  color: #F91155; }

/*Background colors*/
.bg-light {
  background-color: #F4F8FB !important; }

.bg-middle-light {
  background-color: rgba(140, 151, 162, 0.1) !important; }

/* Font classes */
.font-no {
  font-size: 0px !important; }

.font-small-xs {
  font-size: 10px !important; }

.font-small {
  font-size: 12px !important; }

.font-standard {
  font-size: 14px !important; }

.font-medium {
  font-size: 18px !important; }

.font-medium-lg {
  font-size: 20px !important; }

.font-large-xs {
  font-size: 24px !important; }

.font-large {
  font-size: 26px !important; }

.font-extra-large {
  font-size: 72px !important; }

/* Generate classes for margin */
.margin-right-no {
  margin-right: 0px !important; }

.margin-right-small-xs {
  margin-right: 5px !important; }

.margin-right-small {
  margin-right: 8px !important; }

.margin-right-medium {
  margin-right: 18px !important; }

.margin-right-medium-lg {
  margin-right: 24px !important; }

.margin-right-large-xs {
  margin-right: 30px !important; }

.margin-right-large {
  margin-right: 40px !important; }

.margin-left-no {
  margin-left: 0px !important; }

.margin-left-small-xs {
  margin-left: 5px !important; }

.margin-left-small {
  margin-left: 8px !important; }

.margin-left-medium {
  margin-left: 18px !important; }

.margin-left-medium-lg {
  margin-left: 24px !important; }

.margin-left-large-xs {
  margin-left: 30px !important; }

.margin-left-large {
  margin-left: 40px !important; }

.margin-top-no {
  margin-top: 0px !important; }

.margin-top-small-xs {
  margin-top: 5px !important; }

.margin-top-small {
  margin-top: 8px !important; }

.margin-top-medium {
  margin-top: 18px !important; }

.margin-top-medium-lg {
  margin-top: 24px !important; }

.margin-top-large-xs {
  margin-top: 30px !important; }

.margin-top-large {
  margin-top: 40px !important; }

.margin-bottom-no {
  margin-bottom: 0px !important; }

.margin-bottom-small-xs {
  margin-bottom: 5px !important; }

.margin-bottom-small {
  margin-bottom: 8px !important; }

.margin-bottom-medium {
  margin-bottom: 18px !important; }

.margin-bottom-medium-lg {
  margin-bottom: 24px !important; }

.margin-bottom-large-xs {
  margin-bottom: 30px !important; }

.margin-bottom-large {
  margin-bottom: 40px !important; }

/* Generate classes for padding */
.padding-right-no {
  padding-right: 0px !important; }

.padding-right-small-xs {
  padding-right: 5px !important; }

.padding-right-small {
  padding-right: 8px !important; }

.padding-right-medium {
  padding-right: 18px !important; }

.padding-right-medium-lg {
  padding-right: 24px !important; }

.padding-right-large-xs {
  padding-right: 30px !important; }

.padding-right-large {
  padding-right: 40px !important; }

.padding-left-no {
  padding-left: 0px !important; }

.padding-left-small-xs {
  padding-left: 5px !important; }

.padding-left-small {
  padding-left: 8px !important; }

.padding-left-medium {
  padding-left: 18px !important; }

.padding-left-medium-lg {
  padding-left: 24px !important; }

.padding-left-large-xs {
  padding-left: 30px !important; }

.padding-left-large {
  padding-left: 40px !important; }

.padding-top-no {
  padding-top: 0px !important; }

.padding-top-small-xs {
  padding-top: 5px !important; }

.padding-top-small {
  padding-top: 8px !important; }

.padding-top-medium {
  padding-top: 18px !important; }

.padding-top-medium-lg {
  padding-top: 24px !important; }

.padding-top-large-xs {
  padding-top: 30px !important; }

.padding-top-large {
  padding-top: 40px !important; }

.padding-bottom-no {
  padding-bottom: 0px !important; }

.padding-bottom-small-xs {
  padding-bottom: 5px !important; }

.padding-bottom-small {
  padding-bottom: 8px !important; }

.padding-bottom-medium {
  padding-bottom: 18px !important; }

.padding-bottom-medium-lg {
  padding-bottom: 24px !important; }

.padding-bottom-large-xs {
  padding-bottom: 30px !important; }

.padding-bottom-large {
  padding-bottom: 40px !important; }

/* Width with persents */
.width-percent-small-xs {
  width: 20% !important; }

.width-percent-small {
  width: 30% !important; }

.width-percent-medium-xs {
  width: 40% !important; }

.width-percent-medium {
  width: 50% !important; }

.width-percent-medium-lg {
  width: 60% !important; }

.width-percent-large-xs {
  width: 70% !important; }

.width-percent-large {
  width: 80% !important; }

.width-percent-full {
  width: 100% !important; }

/* Max-Width with pixels */
.max-width-small {
  max-width: 110px !important; }

.max-width-small-md {
  max-width: 130px !important; }

.max-width-medium {
  max-width: 160px !important; }

.max-width-medium-lg {
  max-width: 190px !important; }

.max-width-large-xs {
  max-width: 240px !important; }

.max-width-large {
  max-width: 300px !important; }

.max-width-large-extra {
  max-width: 666px !important; }

/* Min-Width with pixels */
.min-width-small {
  min-width: 80px !important; }

.min-width-medium {
  min-width: 120px !important; }

.min-width-medium-lg {
  min-width: 130px !important; }

.min-width-large-xs {
  min-width: 190px !important; }

.min-width-large {
  min-width: 240px !important; }

.min-width-extra-large {
  min-width: 300px !important; }

@media (max-width: 1440px) {
  .font-extra-large {
    font-size: 68px !important; } }
@media (max-width: 1380px) {
  .font-extra-large {
    font-size: 62px !important; } }
@media (max-width: 1280px) {
  .font-extra-large {
    font-size: 52px !important; }

  .font-medium {
    font-size: 16px !important; }

  .font-medium-lg {
    font-size: 18px !important; }

  .font-large-xs {
    font-size: 22px !important; }

  .font-large {
    font-size: 24px !important; } }
@media (max-width: 992px) {
  .font-extra-large {
    font-size: 47px !important; }

  .font-large-xs {
    font-size: 20px !important; }

  .font-large {
    font-size: 22px !important; }

  .margin-top-large-xs {
    margin-top: 20px !important; }

  .margin-top-large {
    margin-top: 30px !important; }

  .margin-bottom-large-xs {
    margin-bottom: 20px !important; }

  .margin-bottom-large {
    margin-bottom: 30px !important; } }
@media (max-width: 768px) {
  .font-extra-large {
    font-size: 42px !important; }

  .font-large-xs {
    font-size: 18px !important; }

  .font-large {
    font-size: 20px !important; }

  .font-standard {
    font-size: 13px !important; }

  .margin-top-medium-lg {
    margin-top: 20px !important; }

  .margin-bottom-medium-lg {
    margin-bottom: 20px !important; } }
@media (max-width: 540px) {
  .font-extra-large {
    font-size: 32px !important; }

  .font-medium {
    font-size: 14px !important; }

  .font-medium-lg {
    font-size: 16px !important; }

  .margin-top-medium-lg {
    margin-top: 16px !important; }

  .margin-bottom-medium-lg {
    margin-bottom: 16px !important; } }
.row {
  margin-right: -15px;
  margin-left: -15px; }
  .row .col-1, .row .col-10, .row .col-11, .row .col-12, .row .col-2, .row .col-3, .row .col-4, .row .col-5, .row .col-6, .row .col-7, .row .col-8, .row .col-9,
  .row .col-1-2, .row .col-2-3 {
    padding-right: 15px;
    padding-left: 15px; }

.row-flex > div {
  float: none; }

.col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9 {
  position: relative;
  min-height: 1px;
  float: left; }

.col-12 {
  width: 100%; }

.col-11 {
  width: 91.66666667%; }

.col-10 {
  width: 83.33333333%; }

.col-9 {
  width: 75%; }

.col-8 {
  width: 66.66666667%; }

.col-7 {
  width: 58.33333333%; }

.col-6 {
  width: 50%; }

.col-5 {
  width: 41.66666667%; }

.col-4 {
  width: 33.33333333%; }

.col-3 {
  width: 25%; }

.col-2 {
  width: 16.66666667%; }

.col-1 {
  width: 8.33333333%; }

@media (max-width: 1280px) {
  .col-lg-12 {
    width: 100%; }

  .col-lg-11 {
    width: 91.66666667%; }

  .col-lg-10 {
    width: 83.33333333%; }

  .col-lg-9 {
    width: 75%; }

  .col-lg-8 {
    width: 66.66666667%; }

  .col-lg-7 {
    width: 58.33333333%; }

  .col-lg-6 {
    width: 50%; }

  .col-lg-5 {
    width: 41.66666667%; }

  .col-lg-4 {
    width: 33.33333333%; }

  .col-lg-3 {
    width: 25%; }

  .col-lg-2 {
    width: 16.66666667%; }

  .col-lg-1 {
    width: 8.33333333%; } }
@media (max-width: 992px) {
  .col-md-12 {
    width: 100%; }

  .col-md-11 {
    width: 91.66666667%; }

  .col-md-10 {
    width: 83.33333333%; }

  .col-md-9 {
    width: 75%; }

  .col-md-8 {
    width: 66.66666667%; }

  .col-md-7 {
    width: 58.33333333%; }

  .col-md-6 {
    width: 50%; }

  .col-md-5 {
    width: 41.66666667%; }

  .col-md-4 {
    width: 33.33333333%; }

  .col-md-3 {
    width: 25%; }

  .col-md-2 {
    width: 16.66666667%; }

  .col-md-1 {
    width: 8.33333333%; } }
@media (max-width: 768px) {
  .row {
    margin-right: -10px;
    margin-left: -10px; }
    .row .col-1, .row .col-10, .row .col-11, .row .col-12, .row .col-2, .row .col-3, .row .col-4, .row .col-5, .row .col-6, .row .col-7, .row .col-8, .row .col-9,
    .row .col-1-2, .row .col-2-3 {
      padding-right: 10px;
      padding-left: 10px; }

  .col-sm-12 {
    width: 100%; }

  .col-sm-11 {
    width: 91.66666667%; }

  .col-sm-10 {
    width: 83.33333333%; }

  .col-sm-9 {
    width: 75%; }

  .col-sm-8 {
    width: 66.66666667%; }

  .col-sm-7 {
    width: 58.33333333%; }

  .col-sm-6 {
    width: 50%; }

  .col-sm-5 {
    width: 41.66666667%; }

  .col-sm-4 {
    width: 33.33333333%; }

  .col-sm-3 {
    width: 25%; }

  .col-sm-2 {
    width: 16.66666667%; }

  .col-sm-1 {
    width: 8.33333333%; } }
@media (max-width: 540px) {
  .col-xs-12 {
    width: 100%; }

  .col-xs-11 {
    width: 91.66666667%; }

  .col-xs-10 {
    width: 83.33333333%; }

  .col-xs-9 {
    width: 75%; }

  .col-xs-8 {
    width: 66.66666667%; }

  .col-xs-7 {
    width: 58.33333333%; }

  .col-xs-6 {
    width: 50%; }

  .col-xs-5 {
    width: 41.66666667%; }

  .col-xs-4 {
    width: 33.33333333%; }

  .col-xs-3 {
    width: 25%; }

  .col-xs-2 {
    width: 16.66666667%; }

  .col-xs-1 {
    width: 8.33333333%; } }
@media (max-width: 414px) {
  .col-xxs-12 {
    width: 100%; }

  .col-xxs-11 {
    width: 91.66666667%; }

  .col-xxs-10 {
    width: 83.33333333%; }

  .col-xxs-9 {
    width: 75%; }

  .col-xxs-8 {
    width: 66.66666667%; }

  .col-xxs-7 {
    width: 58.33333333%; }

  .col-xxs-6 {
    width: 50%; }

  .col-xxs-5 {
    width: 41.66666667%; }

  .col-xxs-4 {
    width: 33.33333333%; }

  .col-xxs-3 {
    width: 25%; }

  .col-xxs-2 {
    width: 16.66666667%; }

  .col-xxs-1 {
    width: 8.33333333%; } }
* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 14px;
  color: #051A32;
  position: relative;
  min-width: 320px;
  font-family: primary;
  word-break: break-word; }

.no-scroll {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden; }

input, button {
  outline: none; }

input[type='file'] {
  display: none; }

a {
  color: #051A32;
  text-decoration: none;
  -webkit-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -moz-transition: color 0.3s;
  transition: color 0.3s; }
  a:hover {
    cursor: pointer;
    color: #005BFF; }

ul {
  list-style: none; }

iframe {
  width: 100%; }

img {
  max-width: 100%; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

@media (max-width: 768px) {
  body {
    font-size: 13px; } }
@media (max-width: 540px) {
  body {
    font-size: 12px; } }
.table {
  display: table;
  width: 100%;
  table-layout: fixed; }
  .table__row {
    display: table-row; }
    .table__row--head {
      font-size: 14px;
      font-weight: 700; }
      .table__row--head .table__column {
        padding-top: 0; }
  .table__column {
    display: table-cell;
    vertical-align: middle;
    padding: 16px 0; }
    .table__column--small {
      width: 80px; }

.flex-table__row {
  padding: 18px; }
  .flex-table__row--head {
    border-bottom: 2px solid rgba(140, 151, 162, 0.08); }
  .flex-table__row:last-child {
    border-bottom: 0 !important; }
.flex-table__column {
  flex: 1;
  padding-right: 24px; }
  .flex-table__column:last-child {
    padding-right: 0; }
  .flex-table__column--medium {
    flex: 0.6; }
  .flex-table__column--small {
    flex: 0.4; }
  .flex-table__column--small-xs {
    flex: 0.2; }
  .flex-table__column--check {
    max-width: 30px;
    padding-right: 0;
    -webkit-align-self: center;
    align-self: center; }
.flex-table--bordered .flex-table__row {
  border-bottom: 2px solid rgba(140, 151, 162, 0.08); }
.flex-table--secondary .flex-table__row {
  padding: 0 18px; }
  .flex-table--secondary .flex-table__row--head .flex-table__column {
    border-bottom: 0 !important; }
  .flex-table--secondary .flex-table__row:last-child .flex-table__column {
    border-bottom: 0 !important; }
.flex-table--secondary .flex-table__column {
  padding: 18px 0;
  border-bottom: 1px solid rgba(140, 151, 162, 0.08); }
.flex-table--tertiary .flex-table__row:not(.flex-table__row--head) {
  padding: 14px 18px; }

@media (max-width: 540px) {
  .flex-table__column {
    padding-right: 12px; }
    .flex-table__column--medium, .flex-table__column--small-xs {
      flex: 0.4; }
  .flex-table--sub .flex-table__column {
    flex: 100%;
    margin-top: 10px; }
    .flex-table--sub .flex-table__column:last-child {
      margin-top: 0; } }
.def-input {
  position: relative; }
  .def-input input {
    width: 100%;
    height: 44px;
    font-size: 14px;
    padding: 0 14px;
    color: #051A32;
    font-family: primary;
    background-color: #ffffff;
    border: 1px solid rgba(140, 151, 162, 0.5);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: border-color 0.3s;
    -ms-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    transition: border-color 0.3s; }
    .def-input input:focus {
      border-color: #005BFF; }
    .def-input input::-webkit-input-placeholder {
      color: #8C97A2; }
    .def-input input::-moz-placeholder {
      color: #8C97A2; }
    .def-input input:-moz-placeholder {
      color: #8C97A2; }
    .def-input input:-ms-input-placeholder {
      color: #8C97A2; }
  .def-input--primary-color input {
    border-color: #005BFF; }
  .def-input--secondary .def-input__label {
    position: absolute;
    top: 15px;
    left: 11px;
    font-size: 9px;
    color: #8C97A2;
    -webkit-transition: top 0.3s;
    -ms-transition: top 0.3s;
    -moz-transition: top 0.3s;
    transition: top 0.3s; }
  .def-input--secondary input {
    padding-top: 12px !important; }
    .def-input--secondary input:focus + span, .def-input--secondary input[data-state="valid"] + span {
      top: 5px; }
  .def-input--md input {
    height: 40px;
    padding: 0 10px; }
  .def-input--error input {
    border-color: #F91155; }
  .def-input--error .def-input__label {
    color: #F91155; }
  .def-input--small input {
    height: 32px; }

@media (max-width: 992px) {
  .def-input input {
    height: 36px;
    font-size: 13px;
    padding: 0 10px; }
  .def-input--secondary .def-input__label {
    top: 13px; } }
.def-button {
  color: #ffffff;
  border: 0;
  height: 44px;
  font-size: 14px;
  padding: 0 14px;
  text-align: center;
  display: inline-block;
  background-color: transparent;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  transition: background-color 0.3s; }
  .def-button:hover {
    cursor: pointer; }
  .def-button--primary {
    background-color: #005BFF; }
    .def-button--primary:hover {
      background-color: #051A32; }
  .def-button--secondary {
    color: #005BFF;
    height: auto !important;
    padding: 0 !important;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0; }
    .def-button--secondary:hover {
      color: #051A32; }
    .def-button--secondary.active .def-button__icon {
      color: #F91155; }
  .def-button--tertiary {
    color: #F91155; }
    .def-button--tertiary:hover {
      color: #F91155;
      text-decoration: underline; }
  .def-button--icon {
    width: 44px;
    padding: 0;
    height: 44px;
    line-height: 46px;
    font-size: 20px;
    color: #051A32;
    background-color: rgba(5, 26, 50, 0.06); }
    .def-button--icon:hover {
      color: #ffffff;
      background-color: #051A32; }
  .def-button--icon-left {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center; }
    .def-button--icon-left .def-button__icon {
      line-height: 0; }
    .def-button--icon-left .def-button__text {
      padding-left: 8px; }
  .def-button--md {
    height: 40px; }

a.def-button {
  line-height: 44px; }

@media (max-width: 992px) {
  .def-button {
    height: 36px;
    font-size: 13px;
    padding: 0 10px; }
    .def-button--icon {
      width: 36px;
      height: 36px;
      line-height: 40px;
      font-size: 16px !important;
      padding: 0; }

  a.def-button {
    line-height: 40px; } }
@media (max-width: 540px) {
  .def-button {
    font-size: 12px; } }
.def-radio {
  cursor: pointer; }
  .def-radio span {
    display: block; }
  .def-radio__text {
    font-size: 14px;
    padding-left: 10px;
    max-width: 75%;
    max-width: calc(100% - 18px);
    max-width: -webkit-calc(100% - 18px);
    max-width: -moz-calc(100% - 18px); }
  .def-radio input[type="radio"] {
    display: none; }
  .def-radio input[type="radio"] + span {
    width: 16px;
    height: 16px;
    padding: 2px;
    background-color: #ffffff;
    background-clip: content-box;
    border: 1px solid rgba(0, 0, 0, 0.08);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s; }
  .def-radio input[type="radio"]:checked + span {
    border-color: #005BFF;
    background-color: #005BFF; }

.def-checkbox {
  cursor: pointer;
  font-size: 0; }
  .def-checkbox span {
    display: inline-block;
    vertical-align: middle; }
  .def-checkbox__text {
    padding-left: 8px;
    font-size: 14px;
    max-width: 75%;
    max-width: calc(100% - 16px);
    max-width: -webkit-calc(100% - 16px);
    max-width: -moz-calc(100% - 16px); }
  .def-checkbox input[type="checkbox"] {
    display: none; }
  .def-checkbox input[type="checkbox"] + span {
    width: 16px;
    height: 16px;
    text-align: center;
    border: 1px solid #8C97A2;
    background-color: #ffffff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: background-color 0.3s, border-color 0.3s;
    -ms-transition: background-color 0.3s, border-color 0.3s;
    -moz-transition: background-color 0.3s, border-color 0.3s;
    transition: background-color 0.3s, border-color 0.3s; }
    .def-checkbox input[type="checkbox"] + span i {
      color: #ffffff;
      opacity: 0;
      display: inline-block;
      vertical-align: top;
      line-height: 16px;
      font-size: 8px;
      -webkit-transition: opacity 0.3s;
      -ms-transition: opacity 0.3s;
      -moz-transition: opacity 0.3s;
      transition: opacity 0.3s; }
  .def-checkbox input[type="checkbox"]:checked + span {
    border-color: #005BFF;
    background-color: #005BFF; }
    .def-checkbox input[type="checkbox"]:checked + span i {
      opacity: 1; }

@media (max-width: 768px) {
  .def-checkbox__text {
    font-size: 13px; } }
@media (max-width: 540px) {
  .def-checkbox__text {
    font-size: 12px; } }
.def-textarea textarea {
  border: 0;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  max-height: 80px;
  min-height: 80px;
  font-size: 14px;
  padding: 14px;
  color: #051A32;
  font-family: primary;
  background-color: #ffffff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: border-color 0.3s;
  -ms-transition: border-color 0.3s;
  -moz-transition: border-color 0.3s;
  transition: border-color 0.3s; }
  .def-textarea textarea::-webkit-input-placeholder {
    color: #8C97A2; }
  .def-textarea textarea::-moz-placeholder {
    color: #8C97A2; }
  .def-textarea textarea:-moz-placeholder {
    color: #8C97A2; }
  .def-textarea textarea:-ms-input-placeholder {
    color: #8C97A2; }
  .def-textarea textarea::-webkit-scrollbar-track {
    background-color: transparent;
    margin-top: 5px;
    margin-bottom: 5px; }
  .def-textarea textarea::-webkit-scrollbar {
    width: 4px;
    background-color: transparent; }
  .def-textarea textarea::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px; }

@media (max-width: 992px) {
  .def-textarea textarea {
    max-height: 60px;
    min-height: 60px;
    font-size: 13px;
    padding: 10px; } }
.def-select-box {
  position: relative;
  width: 100%; }
  .def-select-box.opened .select-box {
    border-color: #005BFF;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0; }
    .def-select-box.opened .select-box .arrow:after {
      content: '\e90f'; }
  .def-select-box.opened .options {
    display: block; }
  .def-select-box .select-box {
    width: 100%;
    padding: 0 30px 0 14px;
    height: 44px;
    font-size: 14px;
    line-height: 44px;
    text-align: left;
    border: 1px solid rgba(140, 151, 162, 0.2);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: border 0.3s;
    -ms-transition: border 0.3s;
    -moz-transition: border 0.3s;
    transition: border 0.3s; }
    .def-select-box .select-box .placeholder {
      color: #8C97A2; }
    .def-select-box .select-box:hover {
      cursor: pointer; }
    .def-select-box .select-box .arrow {
      position: absolute;
      top: 50%;
      right: 12px;
      font-size: 12px;
      font-style: normal;
      -ms-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%); }
      .def-select-box .select-box .arrow:after {
        content: '\e90e';
        font-family: icomoon; }
    .def-select-box .select-box .inner {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }
  .def-select-box .options {
    display: none;
    z-index: 2;
    top: 46px;
    left: 0px;
    width: 100%;
    text-align: left;
    position: absolute;
    overflow: hidden;
    background-color: #ffffff;
    border: 1px solid rgba(140, 151, 162, 0.2);
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    -webkit-box-shadow: 0 0 6px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 6px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 6px 0px rgba(0, 0, 0, 0.1); }
    .def-select-box .options .scroll {
      max-height: 256px;
      padding-right: 0px;
      margin-right: 1px; }
    .def-select-box .options p {
      color: #000000;
      padding: 8px 10px 8px 15px;
      font-size: 14px;
      line-height: 16px; }
      .def-select-box .options p:hover, .def-select-box .options p.active {
        cursor: pointer;
        background-color: #F4F8FB; }
      .def-select-box .options p.selected {
        color: #005BFF; }
  .def-select-box--small .select-box {
    height: 32px;
    line-height: 32px; }
    .def-select-box--small .select-box .arrow {
      font-size: 10px; }
  .def-select-box--small .options {
    top: 34px; }

.path-list__item {
  font-size: 14px; }
  .path-list__item:after {
    content: '\e905';
    color: #8C97A2;
    font-family: icomoon;
    font-size: 8px;
    margin: 0 5px;
    vertical-align: middle;
    line-height: 0; }
  .path-list__item:last-child:after {
    content: none; }

@media (max-width: 768px) {
  .path-list__item {
    font-size: 13px;
    line-height: 18px; } }
@media (max-width: 540px) {
  .path-list__item {
    font-size: 12px; } }
.main-slider__item {
  height: 500px !important;
  position: relative; }
  .main-slider__item:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.55); }
.main-slider__inner {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  z-index: 1;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }
.main-slider__content {
  color: #ffffff;
  font-family: primary-light;
  width: 57%; }
  .main-slider__content a {
    color: #ffffff;
    text-decoration: underline; }
    .main-slider__content a:hover {
      text-decoration: none; }
.main-slider__text {
  margin: 24px 0 70px;
  line-height: 27px; }
.main-slider .slick-dots {
  bottom: 13.4%;
  left: auto;
  right: calc((100% - 1280px) / 2); }

.slick-dots {
  position: absolute;
  bottom: 20px;
  right: 0;
  left: 0;
  text-align: center; }
  .slick-dots button {
    display: none; }
  .slick-dots li {
    width: 8px;
    height: 8px;
    cursor: pointer;
    display: inline-block;
    margin-right: 4px;
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: background-color 0.3s, width 0.3s;
    -ms-transition: background-color 0.3s, width 0.3s;
    -moz-transition: background-color 0.3s, width 0.3s;
    transition: background-color 0.3s, width 0.3s; }
    .slick-dots li:last-child {
      margin-right: 0; }
    .slick-dots li.slick-active {
      width: 18px;
      background-color: #005BFF; }

.adds-slider {
  margin: 10px 0 50px; }
  .adds-slider__item {
    height: 214px !important; }

.product-slider__item {
  height: 380px !important; }
.product-slider .slick-dots {
  bottom: 20px;
  left: auto;
  right: 20px; }

.slick-arrow {
  position: absolute;
  top: -63px;
  right: 0;
  width: 30px;
  height: 24px;
  font-size: 0;
  background-color: #005BFF;
  color: #ffffff;
  text-align: center;
  border: 0; }
  .slick-arrow:not(.slick-disabled):hover {
    cursor: pointer;
    background-color: #051A32; }
  .slick-arrow:before {
    font-family: icomoon;
    font-size: 10px; }
  .slick-arrow.slick-prev {
    right: 30px;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px; }
    .slick-arrow.slick-prev:before {
      content: '\e902'; }
  .slick-arrow.slick-next {
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0; }
    .slick-arrow.slick-next:before {
      content: '\e905'; }
    .slick-arrow.slick-next:after {
      content: '';
      width: 1px;
      height: 60%;
      position: absolute;
      top: 50%;
      left: -0.5px;
      border-left: 1px dotted #ffffff;
      -ms-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%); }
  .slick-arrow.slick-disabled {
    opacity: 0.5; }

@media (max-width: 1350px) {
  .main-slider .slick-dots {
    right: 2.5%; } }
@media (max-width: 992px) {
  .main-slider__content {
    width: 70%; } }
@media (max-width: 992px) {
  .slick-arrow {
    top: -52px; } }
@media (max-width: 768px) {
  .main-slider__content {
    width: 100%; }
  .main-slider__item {
    height: 400px !important; }
  .main-slider__text {
    margin-bottom: 40px;
    line-height: 24px; }

  .adds-slider {
    margin: 0 0 40px; }
    .adds-slider__item {
      height: 180px !important; } }
@media (max-width: 540px) {
  .main-slider__item {
    height: 360px !important; }
  .main-slider .slick-dots {
    bottom: 8.4%; }

  .adds-slider__item {
    height: 130px !important; } }
.switch {
  cursor: pointer;
  position: relative; }
  .switch input {
    display: none; }
  .switch input[type='checkbox'] + span {
    position: relative;
    width: 36px;
    height: 20px;
    display: inline-block;
    background-color: rgba(140, 151, 162, 0.3);
    -webkit-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
    -webkit-border-radius: 10.5px;
    -moz-border-radius: 10.5px;
    border-radius: 10.5px; }
    .switch input[type='checkbox'] + span:before {
      content: "";
      height: 16px;
      width: 16px;
      left: 2px;
      top: 2px;
      position: absolute;
      background-color: #ffffff;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%; }
  .switch input[type='checkbox']:checked + span {
    background-color: #005BFF; }
  .switch input[type='checkbox']:checked + span:before {
    -ms-transform: translateX(16px);
    -webkit-transform: translateX(16px);
    transform: translateX(16px); }

.navigation {
  position: fixed;
  width: 100%;
  background-color: #F4F8FB;
  z-index: 8;
  left: 0;
  top: -100%;
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15);
  -webkit-transition: top 0.5s linear;
  -ms-transition: top 0.5s linear;
  -moz-transition: top 0.5s linear;
  transition: top 0.5s linear; }
  .navigation.show {
    top: 94px;
    -webkit-transition: top 0.4s linear;
    -ms-transition: top 0.4s linear;
    -moz-transition: top 0.4s linear;
    transition: top 0.4s linear; }
  .navigation__scroll {
    height: 100%;
    padding: 40px 0; }
  .navigation__close {
    font-size: 16px;
    position: absolute;
    top: 20px;
    right: 20px;
    color: #051A32;
    display: none;
    line-height: 0; }
    .navigation__close:hover {
      cursor: pointer;
      opacity: 0.6; }
  .navigation__col {
    padding-right: 30px; }
    .navigation__col:last-child {
      padding-right: 0; }
  .navigation__banner {
    width: 100%;
    height: 100%;
    min-height: 200px; }

@media (max-width: 992px) {
  .navigation {
    left: -100%;
    top: 60px;
    padding: 0;
    height: calc(100% - 60px);
    height: -webkit-calc(100% - 60px);
    height: -moz-calc(100% - 60px);
    -webkit-transition: left 0.5s linear;
    -ms-transition: left 0.5s linear;
    -moz-transition: left 0.5s linear;
    transition: left 0.5s linear; }
    .navigation__col {
      flex: 50%;
      margin-bottom: 30px; }
      .navigation__col:nth-child(2n) {
        padding-right: 0; }
    .navigation__scroll {
      padding: 30px 0 0; }
    .navigation.show {
      left: 0;
      top: 60px;
      -webkit-transition: left 0.4s linear;
      -ms-transition: left 0.4s linear;
      -moz-transition: left 0.4s linear;
      transition: left 0.4s linear; } }
@media (max-width: 768px) {
  .navigation__col {
    flex: 100%;
    padding-right: 0 !important; }
    .navigation__col:last-child {
      margin-bottom: 0; } }
@media (max-width: 540px) {
  .navigation__scroll {
    height: calc(100% - 56px);
    height: -webkit-calc(100% - 56px);
    height: -moz-calc(100% - 56px); }
  .navigation__language {
    padding: 10px 0;
    -webkit-box-shadow: 0px -2px 3px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0px -2px 3px rgba(0, 0, 0, 0.08);
    box-shadow: 0px -2px 3px rgba(0, 0, 0, 0.08); }
  .navigation .language-box__list {
    display: block; }
  .navigation .language-box ul {
    display: flex; }
  .navigation .language-box__item {
    flex: 1;
    margin: 0 2.5%;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    border-radius: 4px !important; } }
.product-item {
  height: 100%;
  padding-bottom: 65px;
  position: relative; }
  .product-item:hover .product-item__icon {
    opacity: 1; }
  .product-item__img {
    padding-top: 74%;
    position: relative;
    margin-bottom: 20px; }
    .product-item__img a {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
  .product-item__icon {
    position: absolute;
    top: 18px;
    right: 18px;
    font-size: 20px;
    color: #051A32;
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    transition: opacity 0.3s; }
    .product-item__icon:hover, .product-item__icon.active {
      color: #F91155;
      cursor: pointer; }
    .product-item__icon.active {
      opacity: 1; }
  .product-item__info {
    line-height: 21px; }
  .product-item__button {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0; }
  .product-item__type {
    color: #FF8C11; }
  .product-item--secondary {
    padding-bottom: 0 !important; }
    .product-item--secondary .product-item__img {
      flex: 1;
      max-width: 140px;
      padding-top: 18%;
      margin-bottom: 0;
      background-position: left; }
    .product-item--secondary .product-item__info {
      padding-left: 12px; }

.discount {
  height: 28px;
  width: 50px;
  color: #ffffff;
  text-align: center;
  line-height: 30px;
  display: block;
  font-family: primary-bold;
  background-color: #F91155;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.price {
  font-family: primary-bold; }
  .price__actual {
    font-size: 20px;
    margin-right: 10px; }
    .price__actual .price__icon {
      font-size: 16px; }
  .price__discount {
    text-decoration: line-through; }
    .price__discount .price__icon {
      font-size: 10px; }
  .price--lg .price__actual {
    font-size: 26px; }
    .price--lg .price__actual .price__icon {
      font-size: 20px; }
  .price--sm .price__discount {
    font-size: 12px;
    font-family: primary; }

@media (max-width: 992px) {
  .product-item {
    padding-bottom: 57px; }

  .price__actual {
    font-size: 18px; }
    .price__actual .price__icon {
      font-size: 14px; }
  .price__discount .price__icon {
    font-size: 10px; }
  .price--lg .price__actual {
    font-size: 24px; }
    .price--lg .price__actual .price__icon {
      font-size: 18px; } }
@media (max-width: 768px) {
  .discount {
    height: 26px;
    line-height: 28px; }

  .price__actual {
    font-size: 16px; }
    .price__actual .price__icon {
      font-size: 12px; }
  .price--lg .price__actual {
    font-size: 22px; }
    .price--lg .price__actual .price__icon {
      font-size: 16px; } }
@media (max-width: 540px) {
  .discount {
    height: 24px;
    line-height: 26px; }

  .price__discount .price__icon {
    font-size: 9px; }
  .price--lg .price__actual {
    font-size: 20px; }
    .price--lg .price__actual .price__icon {
      font-size: 14px; } }
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden;
  outline: 0;
  background-color: rgba(0, 0, 0, 0.5); }
  .modal.fade {
    visibility: hidden; }
  .modal__header {
    position: relative;
    padding: 30px 24px 20px 40px;
    background-color: #ffffff; }
  .modal__title {
    flex: 1;
    padding-right: 20px; }
  .modal__close {
    font-size: 12px;
    line-height: 0;
    color: #8C97A2;
    position: absolute;
    top: 21px;
    right: 26px;
    -webkit-transition: color 0.3s;
    -ms-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s; }
    .modal__close:hover {
      cursor: pointer;
      color: #051A32; }
  .modal__content {
    width: 100%;
    padding: 18px; }
  .modal__scroll {
    max-height: calc(80vh - 134px);
    max-height: -webkit-calc(80vh - 134px);
    max-height: -moz-calc(80vh - 134px);
    padding-right: 10px !important;
    overflow: visible !important; }
  .modal__dialog {
    position: absolute;
    min-height: 170px;
    width: 90%;
    max-height: 80vh;
    top: 50%;
    left: 50%;
    background-color: #ffffff;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px; }
    .modal__dialog.small {
      max-width: 410px; }
    .modal__dialog.large {
      max-width: 820px; }

@media (max-width: 768px) {
  .modal__scroll {
    overflow: hidden !important; } }
.footer__inner {
  padding: 50px 0; }
.footer__right {
  max-width: 310px;
  margin-left: 50px;
  line-height: 21px;
  color: rgba(5, 26, 50, 0.8); }
.footer__col {
  padding-right: 15px; }
.footer__links {
  margin-top: 14px; }
  .footer__links li {
    margin-bottom: 8px; }
    .footer__links li:last-child {
      margin-bottom: 0; }
  .footer__links a {
    line-height: 21px;
    color: rgba(5, 26, 50, 0.8); }
    .footer__links a:hover {
      color: #005BFF; }

@media (max-width: 992px) {
  .footer__inner {
    padding: 40px 0 10px; }
  .footer__right {
    max-width: 250px;
    margin-left: 40px; }
  .footer__col {
    flex: 50%;
    margin-bottom: 30px; } }
@media (max-width: 768px) {
  .footer__right {
    max-width: 200px;
    margin-left: 0; } }
@media (max-width: 540px) {
  .footer__inner {
    padding-bottom: 20px; }
  .footer__left, .footer__right {
    flex: 100%;
    max-width: inherit; } }
.header {
  height: 94px;
  position: fixed;
  width: 100%;
  background-color: #ffffff;
  z-index: 9;
  top: 0;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15); }
  .header__inner {
    height: 100%; }
  .header__bg {
    height: 100%;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 10; }
  .header__center {
    padding: 0 30px 0 50px; }
  .header .cart-button {
    position: relative; }
    .header .cart-button__count {
      display: block;
      width: 15px;
      height: 15px;
      text-align: center;
      line-height: 15px;
      font-size: 8px;
      position: absolute;
      top: 4px;
      right: 4px;
      color: #ffffff;
      background-color: #F91155;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%; }
  .header__language .language-box__list {
    position: absolute;
    top: 46px;
    z-index: 9;
    display: none;
    overflow: hidden;
    background-color: #ffffff;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1); }

.logo {
  height: 40px;
  line-height: 0; }
  .logo a:hover {
    text-decoration: none; }
  .logo img {
    max-height: 100%;
    min-height: 100%; }

.language-box {
  font-size: 12px;
  position: relative; }
  .language-box:hover {
    cursor: pointer; }
  .language-box.opened .language-box__selected-item {
    color: #ffffff;
    background-color: #051A32; }
  .language-box__selected-item, .language-box__item {
    width: 44px;
    height: 44px;
    display: block;
    line-height: 44px;
    text-align: center; }
  .language-box__selected-item {
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-tap-highlight-color: transparent;
    width: 44px;
    height: 44px;
    line-height: 46px;
    color: #051A32;
    background-color: rgba(5, 26, 50, 0.06);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px; }
    .language-box__selected-item:hover {
      color: #ffffff;
      background-color: #051A32; }
  .language-box__list {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px; }
  .language-box__item {
    color: #051A32;
    margin-left: 0;
    -webkit-transition: background-color 0.3s, color 0.3s;
    -ms-transition: background-color 0.3s, color 0.3s;
    -moz-transition: background-color 0.3s, color 0.3s;
    transition: background-color 0.3s, color 0.3s; }
    .language-box__item:first-child {
      -webkit-border-radius: 4px 4px 0 0;
      -moz-border-radius: 4px 4px 0 0;
      border-radius: 4px 4px 0 0; }
    .language-box__item:last-child {
      -webkit-border-radius: 0 0 4px 4px;
      -moz-border-radius: 0 0 4px 4px;
      border-radius: 0 0 4px 4px; }
    .language-box__item:hover {
      cursor: pointer;
      background-color: rgba(140, 151, 162, 0.1); }
    .language-box__item.active {
      color: #ffffff;
      background-color: #005BFF; }
      .language-box__item.active:hover {
        cursor: default;
        color: #ffffff;
        background-color: #005BFF; }

@media (min-width: 993px) {
  .header__search {
    margin-left: 18px; }
    .header__search button {
      width: initial;
      color: #ffffff;
      background-color: #005BFF;
      padding: 0 30px;
      font-size: 18px; } }
@media (max-width: 992px) {
  .header {
    height: 60px; }
    .header__nav {
      font-size: 18px !important; }
    .header__center {
      padding: 0;
      -webkit-justify-content: flex-end !important;
      justify-content: flex-end !important; }
    .header__search {
      flex: initial;
      margin-right: 5px; }
      .header__search button {
        -webkit-border-radius: 4px !important;
        -moz-border-radius: 4px !important;
        border-radius: 4px !important; }

  .search-box__input {
    padding: 20px 2.5%;
    position: fixed;
    width: 100%;
    background-color: #F4F8FB;
    z-index: 8;
    right: -100%;
    top: 60px;
    -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15);
    -webkit-transition: right 0.3s linear;
    -ms-transition: right 0.3s linear;
    -moz-transition: right 0.3s linear;
    transition: right 0.3s linear; }
    .search-box__input.show {
      right: 0;
      -webkit-transition: right 0.3s linear;
      -ms-transition: right 0.3s linear;
      -moz-transition: right 0.3s linear;
      transition: right 0.3s linear; }
    .search-box__input input {
      border-right-width: 1px !important;
      -webkit-border-radius: 4px !important;
      -moz-border-radius: 4px !important;
      border-radius: 4px !important; }

  .language-box__selected-item, .language-box__item {
    width: 36px;
    height: 36px;
    display: block;
    line-height: 36px;
    text-align: center; }
  .language-box__selected-item {
    width: 36px;
    height: 36px;
    line-height: 38px; }
  .language-box__list {
    top: 38px; }

  .logo {
    height: 32px;
    margin: 0 10px; } }
@media (max-width: 540px) {
  .logo {
    height: 26px; } }
.sidebar {
  padding-right: 10px; }

.price-box__slider {
  width: 100%; }
.price-box .ui-slider {
  cursor: pointer; }
  .price-box .ui-slider .ui-slider-handle {
    width: 12px;
    height: 12px;
    top: -0.26em;
    cursor: pointer;
    background-color: #ffffff;
    border-color: #005BFF;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%; }
  .price-box .ui-slider > div:nth-child(2), .price-box .ui-slider > span:nth-child(2) {
    margin-left: -.2em !important; }
.price-box .ui-slider-horizontal {
  height: .5em; }
.price-box .ui-widget-content {
  border-color: rgba(140, 151, 162, 0.4) !important; }
.price-box .ui-widget-header {
  background: #005BFF; }

.page-container {
  padding-top: 94px;
  min-height: calc(100vh - 210px);
  min-height: -webkit-calc(100vh - 210px);
  min-height: -moz-calc(100vh - 210px); }
  .page-container__inner {
    padding: 30px 0 70px;
    min-height: calc(100vh - 304px);
    min-height: -webkit-calc(100vh - 304px);
    min-height: -moz-calc(100vh - 304px); }

body.order-page .page-container {
  padding: 0;
  min-height: 100%; }

.inner-container {
  width: 95%;
  max-width: 1280px;
  margin: 0 auto; }

.scroll {
  overflow: hidden;
  overflow-y: auto;
  margin-right: 2px;
  padding-right: 2px; }
  .scroll::-webkit-scrollbar-track {
    background-color: transparent;
    margin-top: 5px;
    margin-bottom: 5px; }
  .scroll::-webkit-scrollbar {
    width: 4px;
    background-color: transparent; }
  .scroll::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px; }

.title--primary {
  line-height: 38px; }

.text-box {
  line-height: 19px; }

.link {
  text-decoration: none; }
  .link--primary {
    color: #005BFF; }
  .link--secondary {
    color: rgba(0, 0, 0, 0.4); }
  .link:hover {
    cursor: pointer;
    text-decoration: underline; }
  .link--with-icon .link__icon, .link--with-icon .link__text {
    font-size: 14px; }
  .link--with-icon .link__text {
    width: calc(100% - 14px);
    width: -webkit-calc(100% - 14px);
    width: -moz-calc(100% - 14px);
    padding-left: 6px;
    line-height: 18px; }
  .link--with-icon:hover {
    text-decoration: none; }
    .link--with-icon:hover .link__text {
      text-decoration: underline; }

sup {
  color: #F91155;
  vertical-align: middle; }

.block-container {
  background-color: #ffffff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px; }
  .block-container__inner {
    padding: 18px; }

.img-box {
  overflow: hidden;
  line-height: 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; }
  .img-box img {
    width: 100%;
    max-height: 100%; }

.top-bg {
  min-height: 140px;
  background: #F4F8FB repeat-x center bottom;
  padding: 20px 0 25px; }
  .top-bg--top {
    background-position: top center; }
  .top-bg__content {
    max-width: 490px; }

.radio-buttons__item {
  margin-right: 10px; }
  .radio-buttons__item:last-child {
    margin-right: 0; }

.form__row {
  margin-bottom: 24px; }
  .form__row:last-child {
    margin-bottom: 0; }
.form__row-sm {
  margin-bottom: 12px; }
  .form__row-sm:last-child {
    margin-bottom: 0; }
  .form__row-sm .form__col {
    margin-right: 10px; }
.form__col {
  flex: 1;
  margin-right: 16px; }
  .form__col:last-child {
    margin-right: 0 !important; }

.group__input input {
  border-right-width: 0;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px; }
.group__button {
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0; }
.group__label {
  color: #8C97A2;
  margin-right: 10px; }

.group-elements__col:last-child {
  padding-left: 12px;
  margin-left: 12px;
  border-left: 1px solid rgba(140, 151, 162, 0.1); }

.logo-list {
  padding: 22px 0; }
  .logo-list__item {
    line-height: 0; }
    .logo-list__item img {
      max-height: 35px;
      max-width: initial;
      -webkit-filter: grayscale(100%); }
    .logo-list__item:hover {
      cursor: pointer;
      text-decoration: none; }
      .logo-list__item:hover img {
        -webkit-filter: none; }

.label {
  font-size: 16px;
  font-family: primary-bold; }

.list__item {
  margin-bottom: 16px; }
  .list__item:last-child {
    margin-bottom: 0; }
  .list__item a:hover {
    text-decoration: underline; }
  .list__item.active a {
    color: #005BFF; }

.social-list__item {
  margin-right: 16px; }
  .social-list__item:last-child {
    margin-right: 0; }
  .social-list__item.vk a {
    color: #2e7fab; }
  .social-list__item.fb a {
    color: #4d5ab7; }
  .social-list__item.tw a {
    color: #53baf1; }
  .social-list__item.insta a {
    color: #F91155; }
.social-list a {
  font-size: 20px;
  color: inherit; }

.border {
  border: 0 solid rgba(140, 151, 162, 0.1); }
  .border--top {
    border-top-width: 1px; }
  .border--bottom {
    border-bottom-width: 1px; }
  .border--left {
    border-left-width: 1px; }
  .border--right {
    border-right-width: 1px; }

.simple-page .text-box {
  line-height: 22px; }
  .simple-page .text-box p {
    margin-bottom: 24px; }

.show-for-sm-mobile, .show-for-tablet {
  display: none !important; }

@media (max-width: 1280px) {
  .title--primary {
    line-height: 36px; } }
@media (max-width: 1170px) {
  .logo-list {
    padding: 18px 0; }
    .logo-list__item img {
      max-height: 24px; } }
@media (max-width: 992px) {
  .hide-for-tablet {
    display: none !important; }

  .show-for-tablet {
    display: inline-block !important; }

  .page-container {
    padding-top: 60px; }
    .page-container__inner {
      padding-bottom: 50px; }

  .title--primary {
    line-height: 32px; }

  .logo-list {
    padding: 15px 0; }
    .logo-list__item img {
      max-height: 20px; } }
@media (max-width: 768px) {
  .hide-for-mobile {
    display: none !important; }

  .title--primary {
    line-height: 28px; } }
@media (max-width: 540px) {
  .hide-for-sm-mobile {
    display: none !important; }

  .show-for-sm-mobile {
    display: block !important; }

  .page-container__inner {
    padding: 24px 0 30px; }

  .list__item {
    margin-bottom: 12px; } }
.product-container .social-list__item {
  margin-right: 0;
  margin-left: 10px; }
.product-container__slider {
  padding-top: 72%; }
.product-container__description {
  padding: 50px 0; }

.info-box__top {
  padding-bottom: 12px;
  border-bottom: 1px solid rgba(140, 151, 162, 0.2);
  margin-bottom: 24px; }
.info-box__cart {
  padding: 20px;
  border: 1px solid rgba(140, 151, 162, 0.2);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }
.info-box__subtitle {
  font-size: 16px;
  font-family: primary-medium; }
.info-box__text {
  line-height: 19px;
  margin-top: 12px; }

.info-list__item {
  padding: 12px 0;
  border-bottom: 1px dashed rgba(140, 151, 162, 0.2); }
  .info-list__item:first-child {
    padding-top: 0; }
.info-list__label {
  color: #8C97A2;
  padding-right: 12px; }
.info-list__value {
  text-align: right; }

@media (max-width: 768px) {
  .info-box__cart {
    margin-top: 20px; }

  .product-container__description {
    padding: 40px 0; } }
@media (max-width: 540px) {
  .product-container__slider {
    padding-top: 60%;
    margin-bottom: 24px; }
  .product-container__description {
    padding: 30px 0; } }
.cart-container__order {
  margin-bottom: 2px; }

.cart-list__image {
  height: 90px;
  background-position: left; }
.cart-list__desc {
  position: relative;
  padding-bottom: 50px; }
.cart-list__actions {
  position: absolute;
  bottom: 0;
  left: 0; }

.order-box__row {
  margin-bottom: 18px; }
  .order-box__row:last-child {
    margin-bottom: 0;
    padding-top: 18px; }
.order-box__col {
  padding-right: 10px; }
.order-box__count {
  font-size: 16px;
  color: #8C97A2; }

@media (max-width: 992px) {
  .cart-container__left {
    margin-bottom: 24px; } }
@media (max-width: 768px) {
  .order-box__count {
    font-size: 15px; } }
@media (max-width: 540px) {
  .cart-list__image {
    height: 70px; }
  .cart-list__desc {
    padding-bottom: 35px; }

  .order-box__count {
    font-size: 14px; } }
.order-container {
  margin: auto;
  padding-top: 70px; }
  .order-container--secondary {
    padding: 30px 0 70px; }
  .order-container__logo {
    margin-bottom: 90px; }

.order-info-container {
  min-height: 100vh;
  padding-bottom: 40px; }
  .order-info-container__bottom {
    margin-top: 90px; }

.payment {
  height: 100%; }
  .payment__icon {
    font-size: 25px;
    line-height: 0;
    padding-right: 10px; }

.tab {
  margin: 0 auto 40px; }

.tab-content {
  padding-bottom: 18px; }

.tab-links {
  height: 4px;
  flex: 1;
  margin-right: 5px;
  background-color: rgba(140, 151, 162, 0.3);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  transition: background-color 0.3s; }
  .tab-links:last-child {
    margin-right: 0; }
  .tab-links.active {
    background-color: #005BFF; }

@media (max-width: 992px) {
  .order-container {
    padding-top: 50px; }
    .order-container--secondary {
      padding-bottom: 50px; }
    .order-container__logo {
      margin-bottom: 70px; }

  .payment__icon {
    font-size: 22px; }

  .order-info-container__bottom {
    margin-top: 70px; } }
@media (max-width: 768px) {
  .order-container {
    padding-top: 40px; }
    .order-container__logo {
      margin-bottom: 50px; }

  .order-info-container__bottom {
    margin-top: 60px; } }
@media (max-width: 540px) {
  .order-container {
    padding-top: 30px; }
    .order-container--secondary {
      padding: 24px 0 30px; }
    .order-container__logo {
      margin-bottom: 40px; }

  .payment {
    height: auto;
    margin-top: 24px; }
    .payment__icon {
      font-size: 20px; }

  .order-info-container__bottom {
    margin-top: 40px; } }

/*# sourceMappingURL=global.css.map */
